<!doctype html>
<html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CRUD PYTHON</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
      <div class="col-8 m-auto pt-2 pb-2 text-center ">
        <h1>CRUD com pyhton</h1>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="\form" class="btn btn-success">Adicionar</a>
      </div>

      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NOME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">TELEFONE</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>MARIA</td>
                  <td>maria@gmail.com</td>
                  <td>45789456</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>jacob@gmail.com</td>
                  <td>47165456</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>larry@gmail.com</td>
                  <td>0514489749</td>
                </tr>
            </tbody>
        </table>
      </div>
    </body>
</html>